{% extends "shipping/base.html" %}

{% block contents %}
<div class="container">
    <div class="row justify-content-center mb-4">
      <div class="col-md-4">
        <h2 class="text-center" style="margin-top: 70px" >Login</h2>
        {% for message in messages %}
                <div class="alert alert-info">{{message}}</div>
                {% endfor %}
      <form  method="POST" >
          {% csrf_token %}
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input
              type="text"
              class="form-control"
              id="username"
              name="username"
              aria-describedby="username"
            />
          </div>       
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              aria-describedby="password"
            />
          </div>       
         
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>      
      </div>
    </div>   
  </div>
{% endblock contents %}